@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}
body {
  background-color: #f6ffff;
}

@theme {
  --font-display: "familay Raleway", "sans-serif";
  --color-primary-default: #0f67b1;
  --background-primary-default: #37afe1;
}
